@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$global-color: #fff !global;
$primary-color: red !global;
$grey-base: #333 !global;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  color: $grey-base;
  background-color: $global-color;
  -webkit-overflow-scrolling: touch;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: $grey-base;

  &,
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

img {
  vertical-align: middle;
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button,
html [type='button'],
[type='reset'],
[type='submit'],
[role='button'],
[role='link'] {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
